---
import { Constants, Data } from "@utils/index";
import Container from "./container.astro";
import Button from "./button";

const { page = 'landing'} = Astro.props
const servicesInPage = page === 'landing' ? Data.productsLanding.slice(0,3) : Data.productsLanding
interface Props {
    page?: string
}
---

<section class=`w-full bg-[#fff9f5] md:min-h-[60vh] lg:min-h-screen py-10 lg:pt-28 lg:pb-20 mt-40'}`>
    <Container flex="flex-col">
        <div class="w-[100%] lg:w-3/5 flex-col justify-center items-center mx-auto text-center" data-aos='fade-up' data-aos-offset='100'>
            <h6 class="text-[12px] md:text-base uppercase text-[#F56B1E] font-bold">What we offer</h6>
            <h2 class="text-[24px] leading-[32px] md:text-[30px] lg:text-[48px] text-red-900 font-bold mt-3 lg:leading-[50px]">Our Products - Unlock Your Financial Potential</h2>
        </div>
        <!-- Services Cards -->
        <div class="grid grid-cols-1 mt-10 md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-5 xl:gap-10 md:mt-10 lg:mt-20" data-aos='fade-down' data-aos-offset='100'>
            {
                servicesInPage.map((item: any) => (
                    <div class="bg-white cursor-pointer w-full xl:w-[390px] h-auto py-10 shadow-xl rounded-3xl hover:shadow-2xl">
                        <Container flex="flex-col">
                            <div class="w-[60px] h-[60px] rounded-xl bg-[#F5E9E1] flex justify-center items-center">
                                <item.icon color="#7F1C1D" size={'32px'}/>
                            </div>
                            <h3 class="text-[18px] font-bold mt-5 text-red-900 mb-3">{item.title}</h3>
                            <article class="text-gray-500">
                                <p class="text-base">{item.description}</p>
                            </article>
                        </Common.Container>
                    </div>
                ))
            }
        </div>

        <div class="mt-10">
            {
                page === 'landing' ? <Button path="/products" text="View More" className="py-2 px-4 text-[14px] text-white mt-6 bg-[#F56B1E] rounded-full baseline hover:text-[#F56B1E] hover:bg-[#F5E9E1]" /> : <div />
            }
        </div>
    </Common.Container>
</section>