---
const { qualifications } = Astro.props;

interface Props {
    qualifications: any;
    page?: string;
}
---
<div 
    class="w-[100%] h-[300px] lg:w-[45%] md:h-[auto] md:mr-10 xl:mr-20 bg-cover bg-no-repeat bg-center rounded-xl" 
    style={{ backgroundImage: 'url(/images/mother-and-child-playing.jpg)'}}
    data-aos='fade-right' data-aos-offset='100'
>
    <div class="w-[150px] py-7 -ml-3 bg-[#F5E9E1] flex flex-col flex-wrap justify-center items-center rounded-full shadow-xl px-2 pt-6 text-center -mt-8 md:-ml-6">
        <span class="text-red-900 font-bold">Certified in Powering Your Financial Future Today</span>
    </div>
</div>
<div class="w-[100%] mt-5 md:mt-0 lg:w-[55%]" data-aos='fade-up' data-aos-offset='100'>
    <h2 class=`text-[24px] leading-[32px] md:text-[40px] text-red-900 font-bold mt-2 md:leading-[45px]`>Finance made simple, accessible, and stress-free for everyone.</h2>
    <p class="text-base text-base mt-6 mb-10">
        Life is unpredictable, but your loan terms shouldn't be. Our flexible repayment options are designed to adapt to your needs, giving you peace of mind every step of the way.
    </p>
    <hr />
    <div class="grid grid-cols-1 gap-y-10 md:gap-5 mt-10 lg:grid-cols-2">
        {
            qualifications.map((item: any) => (
                <div class="w-full md:w-[100%] h-auto items-center">
                        <div class="w-[60px] h-[60px] rounded-xl bg-[#F5E9E1] flex justify-center items-center">
                            <item.icon color="#7F1C1D" size={'32px'}/>
                        </div>
                        <h3 class="text-[22px] md:text-[18px] font-bold mt-5 text-red-900 mb-3">{item.title}</h3>
                        <p class="text-base">{item.description}</p>
                </div>
            ))
        }
    </div>
</div>